apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus-grafana
  namespace: argocd
spec:
  destination:
    namespace: monitoring
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: kube-prometheus-stack
    helm:
      valueFiles:
        - values.yaml
      values: |-
        grafana:
          enabled: true
          namespaceOverride: "monitoring"
          ingress:
            enabled: true
            annotations:
              cert-manager.io/cluster-issuer: letsencrypt-prod
            ingressClassName: nginx
            host:
              - chimeyrock999.fde.xplat.cafe
            paths: 
              - /monitoring
            tls:
              - secretName: grafana-tls
                hosts:
                  - chimeyrock999.fde.xplat.cafe
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 58.2.2
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:  
      - CreateNamespace=true
      - PrunePropagationPolicy=background
      - ServerSideApply=true
