<!DOCTYPE html>
<html>
<head>
    <title>Phising Url Detection WebApp</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontawesome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark shadow-lg p-3 mb-5" style="background-color:#032d3b;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container d-flex justify-content-center">
        <h2 class="navbar-text text-white">
            Phising Url Detection
        </h2>
    </div>
</nav>
<div class="d-flex justify-content-center">
    <form action="result" method="post">
        <input type="text" placeholder="Input URL here..." id="txt_search" name="txt_search">
        <button type="submit" class="btn btn-outline-success bt1 pb-2" style="height: 52px;">Predict</button>
    </form>
</div>

<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/fontawesome.js') }}"></script>

</body>
</html>